:root {
  --color: #e6007e;
  --txt: #894224;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #faddd8;
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/milky_coffee-webfont.woff2);
}

h1 {
  font-family: myFirstFont;
}

.leftside {
  background-image: url(./rodion-kutsaiev-iqJmuMWD0G4-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
}

.banner {
  display: flex;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  gap: 1vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  top: -20vh;
  position: relative;
}

.cake {
  height: 50px;
}

.content {
  display: flex;
  height: 100vh;
}

.rightside {
  display: flex;
  flex-direction: column;
  background-color: #faddd8;
  width: 60vw;
  gap: 1rem;
  margin-left: 1rem;
  justify-content: space-between;
}

label {
  margin-bottom: 15px;
}

#top {
  margin-top: 3rem;

  align-self: center;
}

#middle {
  display: flex;
  align-self: center;
}

#bottom {
  margin-bottom: 3rem;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
}

label {
  display: flex;
  flex-direction: column;
  width: 10rem;
  gap: 0.5rem;
}

form {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 1rem;
}

#names,
#passwords {
  display: flex;
  gap: 1rem;
}
